
<footer class="main-footer" id="footer">
    <img src="../dist/img/innosofticon.png" alt="innosoft" style="width:50px;height:50px;"/>
    <strong>Copyright &copy; 2015 <a href="http://innosoft.ph">Innosoft Solutions Inc. </a></strong> All rights reserved.
</footer>
