<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../dist/img/avatar5.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Administrator</p>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
                <a href="../Software/Dashboard">
                    <i class=" fa fa-dashboard">
                    </i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="../Software/Item">
                    <i class=" fa fa-table">
                    </i> <span>Item</span>
                </a>
            </li>
            <li class="treeview">
                <a href="../Software/Discount">
                    <i class="fa fa-percent"></i>
                    <span>Discount</span>
                </a>
            </li>
            <li class="treeview">
                <a href="../Software/Customer">
                    <i class="fa fa-users"></i>
                    <span>Customer</span>
                </a>
            </li>
            <li class="treeview">
                <a href="../Software/Supplier">
                    <i class="fa fa-truck"></i>
                    <span>Supplier</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-list"></i>
                    <span>System Tables</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>User</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i> <span>POS</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                </li>
            <li>
                <a href="../calendar.html">
                    <i class="fa fa-product-hunt"></i> <span>Collection</span>
                    <small class="label pull-right bg-red">3</small>
                </a>
            </li>
            <li>
                <a href="../mailbox/mailbox.html">
                    <i class="fa fa-shopping-bag"></i> <span>Purchase</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i> <span>Disbursement</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
               </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-arrow-circle-o-down"></i> <span>Stock In</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
            </li>
            <li><a href="#"><i class="fa fa-arrow-circle-o-up"></i> <span>Stock Out</span></a></li>
            <li><a href="#"><i class="fa fa-hand-pointer-o"></i> <span>POS Touch</span></a></li>
            <li><a href="#"><i class="fa fa-object-group"></i> <span>Item Group</span></a></li>
            <li><a href="#"><i class="fa fa-contao"></i> <span>Item Component</span></a></li>
            <li><a href="#"><i class="fa fa-cutlery"></i> <span>Table</span></a></li>




        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
