
@{
    ViewBag.Title = "AddCustomer";
}
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<section class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-users">
                    Customer Detail
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li><a href="../Software/Customer">Customer</a></li>
                    <li class="active">Add Customer</li>
                </ol>
                <!---Menu Tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Nav tabs -->
                            <div class="card">
                                <section class="container">
                                    <!--Buttons-->
                                    <div class="btn-group-horizontal pull-right">
                                        <a class="btn btn-app" id="lock">
                                            <i class="fa fa-lock"></i> Lock
                                        </a>
                                        <a class="btn  btn-app" id="unlock">
                                            <i class="fa fa-unlock"></i> Unlock
                                        </a>
                                        <a class="btn btn-app" id="close">
                                            <i class="fa fa-close"></i> Close
                                        </a>
                                    </div><!--btn horizontal-->
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <!-- form start -->
                        <form class="form-horizontal" action="" method="post" id="cust-form" >
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="customer" class="col-sm-2 control-label">Customer</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="customer" placeholder="NA">
                                    </div>
                                    <label id="cust-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="address" placeholder="NA">
                                    </div>
                                    <label id="add-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label for="contactPerson" class="col-sm-2 control-label">Contact Person</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="contactPerson" placeholder="NA">
                                    </div>
                                    <label id="contp-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label for="contactNo" class="col-sm-2 control-label">Contact No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="contactNo" placeholder="NA">
                                    </div>
                                    <label id="contno-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label for="creditLimit" class="col-sm-2 control-label">Credit Limit</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="creditLimit" placeholder="0.0">
                                    </div>
                                    <label id="credit-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Term</label>
                                    <div class="col-sm-6">
                                        <select class="form-control dis" id="term">
                                            
                                        </select>
                                    </div>
                                    <label id="term-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label for="tin" class="col-sm-2 control-label">TIN</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="tin" placeholder="NA">
                                    </div>
                                    <label id="tin-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">AR Account</label>
                                    <div class="col-sm-6">
                                        <select class="form-control dis" id="araccount">
                                         
                                        </select>
                                    </div>
                                    <label id="ar-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">With Reward</label>
                                    <div class="col-sm-6">
                                        <input type="checkbox" class="minimal dis" id="wreward">
                                    </div>
                                    <label id="werr" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label for="reCardNo" class="col-sm-2 control-label">Reward Card No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="reCardNo" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="rewConversion" class="col-sm-2 control-label">Reward Conversion</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="rewCon" placeholder="0.0" disabled>
                                    </div>
                                    <label id="rewcon-err" class="col-sm-2 control-label err" style="font-size:smaller;color:orangered;">Required field</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Default Price</label>
                                    <div class="col-sm-4">
                                        <select class="form-control dis" id="dprice">
                                            <option value="CLASS A">CLASS A</option>
                                            <option value="CLASS B">CLASS B</option>
                                            <option value="CLASS C">CLASS C</option>
                                            <option value="CLASS D">CLASS D</option>
                                            <option value="CLASS E">CLASS X</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered" style="width:100%">
                                        <tr>
                                            <th align="center" colspan="2">Sales History</th>
                                            <th align="center" colspan="5">Amount</th>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <th>Sales Number</th>
                                            <th>Sales</th>
                                            <th>Payment</th>
                                            <th>Debit</th>
                                            <th>Credit</th>
                                            <th>Balance</th>
                                        </tr>
                                        <tr></tr>
                                    </table>
                                </div><!-- /.box-body -->
                                
                            </div><!-- /.box-body -->
                            <div class="box-footer">
                            </div><!-- /.box-footer -->
                        </form>
                    </div><!-- /.box -->
                </div>
            </section>
        </div><!-- ./wrapper -->
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>
</section>
<!--SUCCESS-WARNING MODAL-->
<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class=" modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-body">
                <div id="msg-txt">

                </div>
            </div>
            <div id="btn" style="padding:10px">
                <button id="btn-close" class="btn btn-warning">Close</button>
            </div>
        </div>
    </div> 
</div>
<script src="~/Scripts/custom/term-araccount-api.js"></script>
<script src="~/Scripts/custom/customer.js?2"></script>
<script>
    $(document).ready(function () {
        lockcount = 0;
        $('.err').hide();
        $('.dis').prop('disabled', true);
        loadTerm();
        loadARAcount();

        $('#lock').click(function () {
            $('.dis').prop('disabled', true);
            if (lockcount != 1) {
                if (confirm("Continue") == true) {
                    addCustomer();
                    lockcount = 1;
                }
            }
        });
        $('#unlock').click(function () {
            $('.dis').prop('disabled', false);
            $(':text:first').focus();
            lockcount = 0;
        });

        $('#close').click(function () {
            window.location.href = isHost + "/Software/Customer";
        });

        $('#wreward').on('change',function() {
            if ($(this).prop('checked') == true) {
                $('#reCardNo').prop('disabled', false);
                $('#rewCon').prop('disabled', false);
            } else {
                $('#reCardNo').prop('disabled', true);
                $('#rewCon').prop('disabled', true);
            }
        });
        $('#btn-close').click(function () {
            $('#warning').modal('hide');
        });
    });
</script>


