
@{
    ViewBag.Title = "AddPurchase";
}

<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-shopping-bag">
                    Purchase Order Detail
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li><a href="../Software/Purchase">Purchase</a></li>
                    <li class="active">Add Purchase</li>
                </ol>
                <!---Menu Tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <div class="card">
                                <section class="container">
                                    <!--Buttons-->
                                    <div class="btn-group-horizontal pull-right">
                                        <a class="btn btn-app">
                                            <i class="fa fa-lock"></i> Lock
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-unlock"></i> Unlock
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-eye"></i> Preview
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                        <a class="btn btn-app">
                                            <i class="fa fa-close"></i> Close
                                        </a>
                                    </div><!--btn horizontal-->
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="purchaseNo" class="col-sm-3 control-label">Purchase No.</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="purchaseNo" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="preparedby" class="col-sm-3 control-label">Perepared By</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="period" class="col-sm-3 control-label">Period</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="checkedby" class="col-sm-3 control-label">Checked By</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="supplier" class="col-sm-3 control-label">Supplier</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="totalamount" class="col-sm-3 control-label">Total Amount</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="totalamount" placeholder="0.0">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="customer" class="col-sm-3 control-label">Remarks</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="customer" class="col-sm-6 control-label">Download items from stock alert.</label>
                                            <span class="input-group-btn">
                                                <button class="btn btn-info btn-flat" type="button">DOWNLOAD</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body table-responsive no-padding">
                                    <table class="table table-bordered">
                                        <tr style="width:100%;background-color:#42A5F5; color:#fff;">
                                            <th></th>
                                            <th align="center">Item</th>
                                            <th align="center">Unit</th>
                                            <th align="center">Quantity</th>
                                            <th align="center">Unit Cost</th>
                                            <th align="center">Total Cost</th>
                                            <th></th>
                                            <th align="center"><button class="btn btn-info btn-flat" type="button">IMPORT XLS</button></th>
                                            <th align="center"><button class="btn btn-info btn-flat" type="button">EXPORT XLS</button></th>
                                        </tr>
                                       
                                        <tr style="width:100%;background-color:#BBDEFB;">
                                            <td><button class='btn btn-danger btn-xs btn-block'><i class='fa fa-trash'></i> Delete</button></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>
                                    </table>
                                </div><!-- /.box-body -->

                            </div><!-- /.box-body -->
                            <div class="box-footer">
                            </div><!-- /.box-footer -->
                        </form>
                    </div><!-- /.box -->
                </div>


            </section>
        </div><!-- ./wrapper -->
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>
</body>






