
@{
    ViewBag.Title = "AddStockIn";
}
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-arrow-circle-o-down">
                    Stock-In Detail
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li><a href="../Software/StockIn">Stock-In</a></li>
                    <li class="active">Add Stock-In</li>
                </ol>
                <!---Menu Tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <div class="card">
                                <section class="container">
                                    <!--Buttons-->
                                    <div class="btn-group-horizontal pull-right">
                                        <a class="btn btn-app">
                                            <i class="fa fa-lock"></i> Lock
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-unlock"></i> Unlock
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-eye"></i> Preview
                                        </a>
                                        <a class="btn  btn-app">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                        <a class="btn btn-app">
                                            <i class="fa fa-close"></i> Close
                                        </a>
                                    </div><!--btn horizontal-->
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="stockIn" class="col-sm-3 control-label">Stock-In No.</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="stockInNo" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="address" class="col-sm-3 control-label ">Period</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="stockDate" class="col-sm-3 control-label">Stock-In Date</label>
                                            <div class="col-sm-6">
                                                <input type="date" class="form-control" id="stockInDate" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="supplier" class="col-sm-3 control-label">Supplier</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="poNo" class="col-sm-3 control-label">PO No.</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="remarks" class="col-sm-3 control-label">Remarks</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address" class="col-sm-3 control-label">Return</label>
                                            <div class="col-sm-6">
                                                <input type="checkbox" class="form-control-static minimal dis" checked>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="address" class="col-sm-3 control-label">Return OR No.</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="preparedby" class="col-sm-3 control-label">Prepared By</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="checkedby" class="col-sm-3 control-label">Checked By</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="approvedby" class="col-sm-3 control-label">Approved by</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="approvedby" class="col-sm-3 control-label">Download the items from category.</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option></option>
                                                </select>
                                            </div>
                                            <span class="input-group-btn">
                                                <button class="btn btn-info btn-flat" type="button">DOWNLOAD</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group margin">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-primary"><i class='fa fa-barcode'></i>F11 BARCODE</button>
                                            </div><!-- /btn-group -->
                                            <input type="text" class="form-control">
                                        </div><!-- /input-group -->
                                    </div>
                                </div>
                                <div class="box-body table-responsive no-padding">
                                <div>
                                    <!--table-->
                                    <div class="table table-bordered" id="tableStockin"></div>
                                    <!--/.table-->
                                </div>
                                </div><!-- /.box-body -->

                            </div><!-- /.box-body -->
                            <div class="box-footer">
                            </div><!-- /.box-footer -->
                        </form>
                    </div><!-- /.box -->
                </div>


            </section>
        </div><!-- ./wrapper -->
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>
    <script>
        //================
        // Global variables
        // ================
        var stockinCollections;
        var stockinColumns;
        var stockinTable;

        var itemList = [];
        var itemIdList = [];
        var unitList = [];
        var assetAccountList = [];

        var cmbItems;

        //constructor
        function init() {
            //datamap
            unitList[0] = 'Pc(s)';
            assetAccountList[0] = 'Inventory';

            //table
            stockinColumns = new wijmo.collections.ObservableArray();
            stockinCollections = new wijmo.collections.CollectionView(stockinColumns);
            stockinTable = new wijmo.grid.FlexGrid('#tableStockin');
            itemList = new wijmo.collections.ObservableArray();
            $.ajax({ 
                url: '/api/item/list',
                cache: false,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                data: {},
                success: function (results) {

                    if (results != null || results != undefined) {
                        itemList = new Array(results.length);
                        $.each(results, function (index, value) {
                            itemList[index] = results[index]["ItemCode"];
                        })

                        cmbItems = new wijmo.grid.DataMap(results, 'ItemCode', 'ItemDescription');

                        stockinTable.initialize({

                            columns: [
                            {
                                "header": " ",
                                "binding": "DeleteId",
                                "align": "center",
                                "width": 70,
                                "isReadOnly": true,
                                "allowSorting": false
                            },
                            {
                                "header": "Item",
                                "binding": "ItemId",
                                "align": "center",
                                "width": 300,
                                "dataMap": cmbItems
                            },
                            {
                                "header": "Unit",
                                "binding": "UnitId",
                                "align": "center",
                                "width": 75,
                                "dataMap": unitList,
                                "isReadOnly": true,
                                "showDropDown": false
                            },
                            {
                                "header": "Cost",
                                "binding": "CostId",
                                "align": "center",
                                "width": 75,
                                "isReadOnly": true,
                                "allowSorting": false
                            },
                            {
                                "header": "Quanity",
                                "binding": "QuantiyId",
                                "align": "center",
                                "width": 70
                            },
                            {
                                "header": "Amount",
                                "binding": "AmountId",
                                "align": "center",
                                "width": 75,
                                "isReadOnly": true
                            },
                            {
                                "header": "Expiry Date",
                                "binding": "ExpiryDateId",
                                "align": "center",
                                "width": 170
                            },
                            {
                                "header": "Lot Number",
                                "binding": "LotNumberId",
                                "align": "center",
                                "width": 95
                            },
                            {
                                "header": "AssetAccount",
                                "binding": "AssetAccountId",
                                "align": "center",
                                "width": 110,
                                "dataMap": assetAccountList,
                                "isReadOnly": true
                            },
                            {
                                "header": " ",
                                "width": "*",
                                "isReadOnly": true
                            }],
                            autoGenerateColumns: false,
                            itemsSource: stockinCollections,
                            autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                            allowDragging: wijmo.grid.AllowDragging.None,
                            selectionMode: wijmo.grid.SelectionMode.Cell,
                            allowAddNew: true,
                            itemFormatter: function (panel, r, c, cell) {
                                var col = panel.columns[c];

                                if (col.binding == 'ItemId') {
                                   
                                }

                                if (col.binding == 'DeleteId') {
                                    if (cell.innerHTML != " ")
                                        cell.innerHTML = "<button class='btn btn-danger btn-xs btn-block' id='itemDeleteButton'><i class='fa fa-trash'></i>Delete</button>";
                                }

                                if (col.binding == 'ExpiryDateId') {
                                    if (cell.innerHTML != "Expiry Date") {
                                       
                                    }                                       
                                }
                            }
                        })
                    }                
                }
            });
        }

        $(document).ready(function () {
            init();
        });
    </script>
</body>





