@{
    ViewBag.Title = "Customer";
}


<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">

    <!-- Site wrapper -->
    <div class="wrapper">


        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-users">
                    Customer List
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li class="active">Customer</li>
                </ol>
            </section>
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">

                        <!--table container-->
                        <div class="box">

                            <div class="row">

                                <div class="box-header">
                                    <div class="col-md-6">
                                        <!--search box-->
                                        <div class="box-tools">
                                            <div class="input-group" style="width: 150px;">
                                                <input type="text" class="form-control input-sm" id="InputFilter" placeholder="Search">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group-horizontal btn-sm pull-right">
                                        <a href="~/Software/AddCustomer" class="btn btn-info"><i class="fa fa-plus"></i> Add</a>
                                        <a href="~/Software/Dashboard" class="btn btn-danger "><i class="fa fa-close"></i> Close</a>
                                    </div>
                                </div>
                            </div>
                            <!--table-->
                            <table id="customerCollectionGrid" class="grid border-custom"></table>

                        </div>
                    </div>
                </div>
                <!--navigation buttons-->
                <div class="btn-group pull-right" id="navigationPageGrid">
                    <button type="button" class="btn btn-default border-custom" id="btnMoveToFirstPageGrid">
                        <span class="glyphicon glyphicon-fast-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default border-custom" id="btnMoveToPreviousPageGrid">
                        <span class="glyphicon glyphicon-step-backward"></span>
                    </button>
                    <button type="button" class="btn btn-default border-custom" disabled style="width: 100px" id="btnCurrentPageGrid"></button>
                    <button type="button" class="btn btn-default border-custom" id="btnMoveToNextPageGrid">
                        <span class="glyphicon glyphicon-step-forward"></span>
                    </button>
                    <button type="button" class="btn btn-default border-custom" id="btnMoveToLastPageGrid">
                        <span class="glyphicon glyphicon-fast-forward"></span>
                    </button>
                </div>
            </section>
        </div><!-- ./wrapper -->
        <!-- Company Delete -->
        <div class="modal fade" id="deleteCustomerConfirm" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Customer? <i class="fa fa-trash"></i></h4>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger btn-sm" id="cmdConfirmDeleteCustomer" onclick="cmdCustomerConfirmDeleteButton_OnClick()">Delete</button>
                        <button id="cmdConfirmDeleteCloseButton" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Loading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class=" modal-dialog modal-sm">
                Modal content
                <div class="modal-content">
                    <div class="modal-body">
                        <h4 style="text-align:center">Loading ...</h4>
                    </div>
                    <div class="modal-footer">
                        <img class="img-thumbnail img-responsive center-block img-custom" src='~/images/loading/progress_bar.gif'>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">

            //================
            // Global variables
            // ================
            var customerCollections;
            var customerGrid;
            var editItem;

            var btnFirstPageGrid;
            var btnPreviousPageGrid;
            var btnNextPageGrid;
            var btnLastPageGrid;
            var btnCurrentPageGrid;

            // =============================
            // Get CustomerMasterList Data
            // =============================
            function getCustomerMasterList() {
                var customerList = new wijmo.collections.ObservableArray();
                $("#loadingModal").modal("show");
                $.ajax({
                    url: '/api/customer/list',
                    cache: false,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function (results) {
                        $("#loadingModal").modal("hide");
                        /* var results = JSON.parse(result); */
                        if (results.length > 0) {
                            for (i = 0; i < results.length; i++) {
                                customerList.push({
                                    EditId: "<button class='btn btn-primary btn-xs btn-block' id='customerEditButton' onclick='cmdCustomerEditButton_OnClick()'><i class='fa fa-pencil'></i> Edit</button>",
                                    DeleteId: "<button class='btn btn-danger btn-xs btn-block' id='customerDeleteButton' onclick='cmdCustomerDeleteButton_OnClick()'><i class='fa fa-trash'></i> Delete</button>",
                                    Id: results[i]["Id"],
                                    Customer: results[i]["Customer"],
                                    Address: results[i]["Address"],
                                    ContactNumber: results[i]["ContactNumber"],
                                    isLocked: results[i]["IsLocked"]

                                });
                            }
                            customerCollections = new wijmo.collections.CollectionView(customerList);
                            btnCurrentPageGrid.innerHTML = (customerCollections.pageIndex + 1) + ' / ' + customerCollections.pageCount;

                            customerCollections.canFilter = true;
                            customerCollections.pageSize = 15;

                            //Filter
                            var filterText = '';
                            $('#InputFilter').keydown(function () {
                                filterText = this.value.toLowerCase();
                                customerCollections.refresh();
                            });
                            customerCollections.filter = function (customer) {
                                return !filterText || (customer.Customer.toLowerCase().indexOf(filterText) > -1) || (customer.Address.toLowerCase().indexOf(filterText) > -1) || (customer.ContactNumber.toLowerCase().indexOf(filterText) > -1);
                            }
                            customerCollections.collectionChanged.addHandler(function (sender, args) {
                                updateNavigateButtonsCollection();

                            });
                            customerCollections.currentChanged.addHandler(function (sender, args) {
                                updateNavigateButtonsCollection();
                            });


                            //Flex Grid
                            customerGrid = new wijmo.grid.FlexGrid('#customerCollectionGrid');
                            customerGrid.initialize({
                                columns: [


                                {
                                    "header": "Edit",
                                    "binding": "EditId",
                                    "width": 60,
                                    "align": "center",
                                    "isContentHtml": true
                                },
                                {
                                    "header": "Delete",
                                    "binding": "DeleteId",
                                    "width": 70,
                                    "align": "center",
                                    "isContentHtml": true

                                },
                                {
                                    "header": "Customer",
                                    "binding": "Customer",
                                    "align": "center",
                                    "allowSorting": true,
                                    "isContentHtml": true,
                                    "width": "2*"
                                },
                                {
                                    "header": "Address",
                                    "binding": "Address",
                                    "align": "center",
                                    "allowSorting": true,
                                    "isContentHtml": true,
                                    "width": "2*"
                                },
                                {
                                    "header": "Contact Number",
                                    "binding": "ContactNumber",
                                    "align": "center",
                                    "allowSorting": true,
                                    "isContentHtml": true,
                                    "width": "2*"
                                },
                                {
                                    "header": "L",
                                    "binding": "isLocked",
                                    "align": "center",
                                    "allowSorting": true,
                                    "width": "1.5*"
                                }],
                                autoGenerateColumns: false,
                                itemsSource: customerCollections,
                                isReadOnly: true,
                                autoSizeMode: wijmo.grid.AutoSizeMode.Both,
                                allowDragging: wijmo.grid.AllowDragging.None,
                                selectionMode: wijmo.grid.SelectionMode.Row
                            });

                            customerGrid.trackChanges = true;

                            updateNavigateButtonsCollection();

                            btnFirstPageGrid.addEventListener('click', function () {
                                customerCollections.moveToFirstPage();
                                updateNavigateButtonsCollection();
                            });
                            btnPreviousPageGrid.addEventListener('click', function () {
                                customerCollections.moveToPreviousPage();
                                updateNavigateButtonsCollection();
                            });
                            btnNextPageGrid.addEventListener('click', function () {
                                customerCollections.moveToNextPage();
                                updateNavigateButtonsCollection();
                            });
                            btnLastPageGrid.addEventListener('click', function () {
                                customerCollections.moveToLastPage();
                                updateNavigateButtonsCollection();
                            });
                        } else {
                            /*   alert("No data."); */
                        }
                    }
                });
            }

            // ===================
            // Customer Edit Button
            // ===================
            function cmdCompanyEditButton_OnClick() {
                customerCollections.editItem(customerCollections.currentItem);

            }

            // =====================
            // Cutomer delete Button
            // =====================
            function cmdCustomerDeleteButton_OnClick() {
                //====id trace log======
                var id = customerCollections.currentItem.Id;
                console.log(typeof id + id);
                //=====================

                $('#deleteCustomerConfirm').modal({
                    show: true,
                    backdrop: 'static'
                });
                $("#cmdConfirmDeleteCustomer").prop("disabled", false);
                $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
            }
            // Company Confirm Delete Button
            function cmdCustomerConfirmDeleteButton_OnClick() {
                $("#cmdConfirmDeleteCustomer").prop("disabled", true);
                $("#cmdConfirmDeleteCloseButton").prop("disabled", true);

                //====================
                var id = customerCollections.currentItem.Id;

                $.ajax({
                    url: '/api/customer/delete/' + id,
                    type: "DELETE",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    statusCode: {
                        200: function () {
                            $("#cmdConfirmDeleteCustomer").prop("disabled", true);
                            $("#cmdConfirmDeleteCloseButton").prop("disabled", true);
                            toastr.success("Successfully Deleted");
                            window.setTimeout(function () {
                                location.reload()
                            }, 1000);
                        },
                        404: function () {
                            toastr.error("Request Not Found");
                            $('#deleteCustomerConfirm').modal('hide');
                            $("#cmdConfirmDeleteCustomer").prop("disabled", false);
                            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                        },
                        400: function () {
                            toastr.error("Can't be deleted");
                            $('#deleteCustomerConfirm').modal('hide');
                            $("#cmdConfirmDeleteCustomer").prop("disabled", false);
                            $("#cmdConfirmDeleteCloseButton").prop("disabled", false);
                        }
                    }
                });
            }

            // ==================
            // Navigation Buttons
            // ==================
            function updateNavigateButtonsCollection() {
                if (customerCollections.pageSize <= 0) {
                    document.getElementById('navigationPageGrid').style.display = 'none';
                    return;
                }
                document.getElementById('navigationPageGrid').style.display = 'block';
                if (customerCollections.pageIndex === 0) {
                    btnFirstPageGrid.setAttribute('disabled', 'disabled');
                    btnPreviousPageGrid.setAttribute('disabled', 'disabled');
                    btnNextPageGrid.removeAttribute('disabled');
                    btnLastPageGrid.removeAttribute('disabled');
                } else if (customerCollections.pageIndex === (customerCollections.pageCount - 1)) {
                    btnFirstPageGrid.removeAttribute('disabled');
                    btnPreviousPageGrid.removeAttribute('disabled');
                    btnLastPageGrid.setAttribute('disabled', 'disabled');
                    btnNextPageGrid.setAttribute('disabled', 'disabled');
                } else {
                    btnFirstPageGrid.removeAttribute('disabled');
                    btnPreviousPageGrid.removeAttribute('disabled');
                    btnNextPageGrid.removeAttribute('disabled');
                    btnLastPageGrid.removeAttribute('disabled');
                }
                btnCurrentPageGrid.innerHTML = (customerCollections.pageIndex + 1) + ' / ' + customerCollections.pageCount;

            }


            //============
            // On Page Load
            // ============
            $(document).ready(function () {

                // Navigation button
                btnFirstPageGrid = document.getElementById('btnMoveToFirstPageGrid');
                btnPreviousPageGrid = document.getElementById('btnMoveToPreviousPageGrid');
                btnNextPageGrid = document.getElementById('btnMoveToNextPageGrid');
                btnLastPageGrid = document.getElementById('btnMoveToLastPageGrid');
                btnCurrentPageGrid = document.getElementById('btnCurrentPageGrid');

                //Collection View
                getCustomerMasterList();

            });
        </script>
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>

</body>






