
@{
    ViewBag.Title = "Edit Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "AddSupplier";
}
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="fa fa-truck">
                    Edit Supplier Detail
                </h1>
                <ol class="breadcrumb">
                    <li><a href="../Software/Dashboard"><i class="fa fa-table"></i> Home</a></li>
                    <li><a href="../Software/Supplier">Supplier</a></li>
                    <li class="active">Add Supplier</li>
                </ol>
                <!---Menu Tab-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <!-- Nav tabs -->
                            <div class="card">
                                <section class="container">
                                    <!--Buttons-->
                                    <div class="btn-group-horizontal pull-right">
                                        <a class="btn btn-app" id="lock">
                                            <i class="fa fa-lock"></i> Lock
                                        </a>
                                        <a class="btn  btn-app" id="unlock">
                                            <i class="fa fa-unlock"></i> Unlock
                                        </a>
                                        <a class="btn btn-app" id="close">
                                            <i class="fa fa-close"></i> Close
                                        </a>
                                    </div><!--btn horizontal-->
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">

                                <div class="form-group">
                                    <label for="supplier" class="col-sm-2 control-label">Supplier</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="supplier" placeholder="NA">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address" class="col-sm-2 control-label">Address</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="address" placeholder="NA">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="telNo" class="col-sm-2 control-label">Telephone No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="telNo" placeholder="NA">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="celNo" class="col-sm-2 control-label">Cellphone No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="celNo" placeholder="NA">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="foxNo" class="col-sm-2 control-label">Fox No</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="foxNo" placeholder="NA">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="term" class="col-sm-2 control-label">Term</label>
                                    <div class="col-sm-4">
                                        <select class="form-control dis" id="term"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tin" class="col-sm-2 control-label">TIN</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control dis" id="tin" placeholder="NA">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="category" class="col-sm-2 control-label">AP Account</label>
                                    <div class="col-sm-4">
                                        <select class="form-control dis" id="araccount"></select>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                        </form>
                    </div><!-- /.box -->
                </div>


            </section>
        </div><!-- ./wrapper -->
        <!-- ===================Main Footer============================ -->
        @Html.Partial("_MainFooter")
    </div>
    <!--SUCCESS-WARNING MODAL-->
    <div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="Loading..." aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class=" modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-body">
                    <div id="msg-txt">

                    </div>
                </div>
                <div id="btn" style="padding:10px">
                    <button id="btn-close" class="btn btn-warning">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--CONFIRM DIAG-->
    <script src="~/Scripts/custom/term-araccount-api.js?1"></script>
    <script src="~/Scripts/custom/supplier.js?1"></script>
    <script>
        $(document).ready(function () {
            var id = localStorage.SupId,lockcount = 0;
            loadSupplier(id);
            $('.dis').prop('disabled', true);
            loadARAcount();
            loadTerm();

            $('#lock').click(function () {
                if (lockcount != 1) {
                    if (confirm("Continue !!") == true) {
                        editSupplier(id);
                        lockcount = 1;
                    }
                }
            });
            $('#unlock').click(function () {
                $('.dis').prop('disabled', false);
                lockcount = 0;
            });
            $('#close').click(function () {
                window.location = isHost + "/Software/Supplier";
            });
            $('#btn-close').click(function () {
                $('#warning').modal('hide');
            });
        });
    </script>
</body>


