
@{
    ViewBag.Title = "PurchaseOrder";
}
<style>
    .btns-wrapper {
        display: block;
        position: absolute;
        top: 45px;
        left: 0px;
        width: 100%;
        text-align: center;
    }

    .btns {
        display: block;
        position: relative;
    }
</style>
<!-- ADD THE CLASS sidedar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- ===================Main Header============================ -->
        @Html.Partial("_MainHeader")
        <!-- ===================Main Sidebar============================ -->
        @Html.Partial("_MainSidebar")
        <!-- =============================================== -->

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <div class="content-wrapper">
                <div class="content-header container-fluid" id="content">
                    <div class="row" style="">
                        <div class="col-md-6">
                            <div class="box" style="margin-top: 60px;">
                                <div class="box-header">
                                    <h3 class="box-title"><i class="fa fa-shopping-basket">Sales List</i></h3>
                                </div>
                                <div class="box-body">
                                    
                                </div>
                            </div><!-- /.box -->

                        </div>
                        <div class="col-md-6">
                            <div class="box" style="margin-top: 60px;">
                                <div class="box-header">
                                    <h3 class="box-title">Block</h3>
                                </div>
                                <div class="box-body">

                                </div>
                            </div><!-- /.box -->

                        </div>
                    </div>
                </div>
                <section class="content-header btns-wrapper" id="">
                    <section class="content-header pull-left" style="margin-left:20px;">
                        <h1 class="fa fa-shopping-basket">
                            Sales List
                        </h1>
                    </section>
                    <div class="btn-group-horizontal pull-right btns" id="">
                        <a class="btn btn-app" href="../Software/Sales">
                            <i class="fa fa-shopping-basket"></i><strong>F2</strong> Sales
                        </a>
                        <a class="btn  btn-app">
                            <i class="fa">&#8369;</i><strong>F6</strong> Tender
                        </a>
                        <a class="btn  btn-app">
                            <i class="fa fa-times-circle"></i><strong>F7</strong> Cancel
                        </a>
                        <a class="btn  btn-app">
                            <i class="fa fa-print"></i><strong>F8</strong> Reprint
                        </a>
                        <a class="btn btn-app">
                            <i class="fa fa-close"></i><strong>F12</strong> Close
                        </a>
                    </div><!--btn horizontal-->
                </section>
            </div>
                </div><!-- ./wrapper -->
                <!-- ===================Main Footer============================ -->
                @Html.Partial("_MainFooter")
            </div>
</body>








